<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="unitedapps.com.googleandroidcourses">

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L6.data.ss6_WeatherProvider"
            android:authorities="unitedapps.com.googleandroidcourses"
            tools:ignore="InnerclassSeparator"
            android:exported="false" />
        <provider
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L8.data.ss8_WeatherProvider"
            android:authorities="unitedapps.com.googleandroidcourses"
            tools:ignore="InnerclassSeparator"
            android:exported="false" />

        <activity
            android:name=".Main.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OldClasses.C1_AndroidDevelopmentForBeginners"
            android:icon="@mipmap/ss_ic_launcher"
            android:label="Android Development For Beginners"
            android:parentActivityName=".Main.MainActivity"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OldClasses.C1Lesson1"
            android:label="Course 1 Lesson 1"
            android:parentActivityName=".OldClasses.C1_AndroidDevelopmentForBeginners"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OldClasses.C1Lesson2"
            android:label="Course 1 Lesson 2"
            android:parentActivityName=".OldClasses.C1_AndroidDevelopmentForBeginners"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OldClasses.C1Lesson3"
            android:label="Course 1 Lesson 3"
            android:parentActivityName=".OldClasses.C1_AndroidDevelopmentForBeginners"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OldClasses.C2_DevelopingAndroidApps"
            android:label="Developing Android Apps"
            android:parentActivityName=".Main.MainActivity"
            tools:ignore="InnerclassSeparator"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".OldClasses.C2Lesson1"
            android:label="Course 2 Lesson 1"
            android:parentActivityName=".OldClasses.C2_DevelopingAndroidApps"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OldClasses.C2Lesson2"
            android:label="Course 2 Lesson 2"
            android:parentActivityName=".OldClasses.C2_DevelopingAndroidApps"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OldClasses.C2Lesson3"
            android:label="Course 2 Lesson 3"
            android:parentActivityName=".OldClasses.C2_DevelopingAndroidApps"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OldClasses.C2Lesson4"
            android:label="Course 2 Lesson 4"
            android:parentActivityName=".OldClasses.C2_DevelopingAndroidApps"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OldClasses.C2Lesson5"
            android:label="Course 2 Lesson 5"
            android:parentActivityName=".OldClasses.C2_DevelopingAndroidApps"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OldClasses.C2Lesson6"
            android:label="Course 2 Lesson 6"
            android:parentActivityName=".OldClasses.C2_DevelopingAndroidApps"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />  <!--old classes-->

        <activity
            android:name=".Courses.AndroidBasics.UserInterface.HappyBirthdayCard"
            android:theme="@style/adb_hbc_appTheme"
            android:label="Happy Birthday"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidDevelopmentForBeginners.JustJava"
            android:theme="@style/adb_hbc_appTheme"
            android:label="Just Java"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidDevelopmentForBeginners.AdvJustJava"
            android:label="Adv Just Java"
            android:theme="@style/adb_hbc_appTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidDevelopmentForBeginners.CourtCounter"
            android:label="@string/title_activity_court_counter"
            android:theme="@style/adb_CourtCounterStyle"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidDevelopmentForBeginners.Cookies"
            android:label="Cookies"
            android:theme="@style/adb_c_appTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidDevelopmentForBeginners.Menu"
            android:label="Menu"
            android:theme="@style/adb_hbc_appTheme"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.AndroidBasics.UserInterface.MyCardApp"
            android:label="My Card App"
            android:theme="@style/ab_ui_mca_AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidBasics.UserInterface.BusinessDetailsCard"
            android:label="Business Details Card"
            android:theme="@style/adb_hbc_appTheme"
            tools:ignore="InnerclassSeparator" />


        <activity
            android:name=".Courses.AndroidDevelopmentForBeginners.Sunshine"
            android:label="SunShine"
            tools:ignore="InnerclassSeparator" />


        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L1.MainActivity"
            android:label="@string/ab_ma_m_app_name"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L1.NumbersActivity"
            android:label="@string/ab_ma_category_numbers"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L1.FamilyMembersActivity"
            android:label="@string/ab_ma_category_family"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L1.ColorsActivity"
            android:label="@string/ab_ma_category_colors"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L1.PhrasesActivity"
            android:label="@string/ab_ma_category_phrases"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L2.MainActivity"
            android:label="@string/ab_ma_m_app_name"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L2.NumbersActivity"
            android:label="@string/ab_ma_category_numbers"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L2.FamilyMembersActivity"
            android:label="@string/ab_ma_category_family"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L2.ColorsActivity"
            android:label="@string/ab_ma_category_colors"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L2.PhrasesActivity"
            android:label="@string/ab_ma_category_phrases"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.ReportCard"
            android:label="@string/ab_rc_app_name"
            android:theme="@style/ab_ma_rc_AppTheme"
            tools:ignore="InnerclassSeparator"/>

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L4.MainActivity"
            android:label="@string/ab_ma_m_app_name"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L4.NumbersActivity"
            android:label="@string/ab_ma_category_numbers"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L4.FamilyMembersActivity"
            android:label="@string/ab_ma_category_family"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L4.ColorsActivity"
            android:label="@string/ab_ma_category_colors"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L4.PhrasesActivity"
            android:label="@string/ab_ma_category_phrases"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />

        <activity
            android:label="@string/ab_ma_mp_app_name"
            android:name=".Courses.AndroidBasics.MultiscreenApps.MediaPlayerApp"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L5.MainActivity"
            android:label="@string/ab_ma_m_app_name"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L5.NumbersActivity"
            android:label="@string/ab_ma_category_numbers"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L5.FamilyMembersActivity"
            android:label="@string/ab_ma_category_family"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L5.ColorsActivity"
            android:label="@string/ab_ma_category_colors"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L5.PhrasesActivity"
            android:label="@string/ab_ma_category_phrases"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.MainActivity"
            android:label="@string/ab_ma_m_app_name"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.NumbersActivity"
            android:label="@string/ab_ma_category_numbers"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            android:parentActivityName=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.FamilyMembersActivity"
            android:label="@string/ab_ma_category_family"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            android:parentActivityName=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.ColorsActivity"
            android:label="@string/ab_ma_category_colors"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            android:parentActivityName=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.PhrasesActivity"
            android:label="@string/ab_ma_category_phrases"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            android:parentActivityName=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6_BackupV1.MainActivity"
            tools:targetApi="jelly_bean" />

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6.MainActivity"
            android:label="@string/ab_ma_m_app_name"
            android:theme="@style/ab_ma_m6_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6.NumbersActivity"
            android:label="@string/ab_ma_category_numbers"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6.FamilyMembersActivity"
            android:label="@string/ab_ma_category_family"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6.ColorsActivity"
            android:label="@string/ab_ma_category_colors"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />
        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.Miwok_L6.PhrasesActivity"
            android:label="@string/ab_ma_category_phrases"
            android:theme="@style/ab_ma_m_AppTheme"
            android:icon="@mipmap/ab_ma_ic_launcher"
            tools:ignore="InnerclassSeparator"
            />

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.ViewPager_Example.MainActivity"
            android:label="@string/ab_ma_vpe_app_name"
            android:theme="@style/ab_ma_m_AppTheme"
            tools:ignore="InnerclassSeparator"
            />

        <activity
            android:name=".Courses.AndroidBasics.MultiscreenApps.TourGuideApp.MainActivity"
            android:label="@string/ab_ma_tg_app_name"
            android:theme="@style/ab_ma_tg_AppTheme"
            tools:ignore="InnerclassSeparator"
            />


        <!--Android Basics: Networking Course Apps-->
        <activity android:name=".Courses.AndroidBasics.Networking.Earthquake_L1.EarthquakeActivity"
            android:icon="@drawable/ab_n_ic_launcher"
            android:label="@string/ab_n_qr_app_name"
            android:theme="@style/ab_n_AppTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Courses.AndroidBasics.Networking.Soonami.MainActivity"
            android:icon="@drawable/ab_n_ic_launcher"
            android:label="@string/ab_n_qr_app_name"
            android:theme="@style/adb_c_appTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Courses.AndroidBasics.Networking.DidYouFeelIt.MainActivity"
            android:label="@string/ab_n_dyfi_app_name"
            android:theme="@style/ab_n_dyfi_AppTheme"
            tools:ignore="InnerclassSeparator">
        </activity>

        <activity android:name=".Courses.AndroidBasics.Networking.Earthquake_L3.EarthquakeActivity"
            android:icon="@drawable/ab_n_ic_launcher"
            android:label="@string/ab_n_qr_app_name"
            android:theme="@style/adb_c_appTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Courses.AndroidBasics.Networking.BookListingApp.MainActivity"
            android:label="@string/ab_n_bla_app_name"
            android:theme="@style/adb_c_appTheme"
            tools:ignore="InnerclassSeparator"/>

        <activity android:name=".Courses.AndroidBasics.Networking.Earthquake_L5.EarthquakeActivity"
            android:icon="@drawable/ab_n_ic_launcher"
            android:label="@string/ab_n_qr_app_name"
            android:theme="@style/adb_c_appTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.AndroidBasics.Networking.Earthquake_L5.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Courses.AndroidBasics.Networking.Earthquake_L5.EarthquakeActivity"/>
        </activity>


        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L2.Sunshine_L2"
            android:label="SunShine vl2"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L3.Sunshine_L3"
            android:label="SunShine v3"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L3.DetailsActivity"
            android:label="DetailsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L3.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Courses.DevelopingAndroidApps.Sunshine_L3.Sunshine_L3"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.DevelopingAndroidApps.PopularMovies_V1.pm1_MainActivity"
            android:icon="@drawable/ic_movie_white_24dp"
            android:label="@string/pm1_app_name"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Courses.DevelopingAndroidApps.PopularMovies_V1.pm1_DetailsActivity"
            android:icon="@drawable/ic_movie_white_24dp"
            android:label="Movie Details"
            android:parentActivityName=".Courses.DevelopingAndroidApps.PopularMovies_V1.pm1_MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L5.Sunshine_L5"
            android:label="SunShine v5"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L6.Sunshine_L6"
            android:label="SunShine v3"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L6.ss6_DetailsActivity"
            android:label="DetailsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L6.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Courses.DevelopingAndroidApps.Sunshine_L6.Sunshine_L6"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L8.ss8_MainActivity"
            android:icon="@mipmap/ss_ic_launcher"
            android:label="SS 8"
            android:theme="@style/daa_ss_ForecastTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L8.ss8_DetailsActivity"
            android:label="DetailsActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L8.ss8_SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Courses.DevelopingAndroidApps.Sunshine_L9.ss9_MainActivity"
            android:theme="@style/SettingsTheme"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L9.ss9_MainActivity"
            android:icon="@mipmap/ss_ic_launcher"
            android:label="SS 9"
            android:theme="@style/daa_ss_ForecastTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L9.ss9_DetailsActivity"
            android:label="DetailsActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L9.ss9_SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Courses.DevelopingAndroidApps.Sunshine_L9.ss9_MainActivity"
            android:theme="@style/SettingsTheme"
            tools:targetApi="jelly_bean"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name="unitedapps.com.googleandroidcourses.Courses.DevelopingAndroidApps.Sunshine_L9.sync.ss9_Service"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/ss9_authenticator" />
        </service>

        <receiver
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L9.sync.ss9_Service$ss9_AlarmReceiver"
            android:enabled="true" />

        <provider
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L9.data.WeatherProvider"
            android:authorities="@string/ss9_content_authority"
            android:exported="false"
            android:syncable="true"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".Courses.DevelopingAndroidApps.Sunshine_L9.sync.ss9_SyncService"
            android:exported="true"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/ss9_syncadapter" />
        </service>

        <activity
            android:name=".Courses.DevelopingAndroidApps.PopularMovies_V2.pm2_MainActivity"
            android:icon="@drawable/ic_movie_white_24dp"
            android:label="@string/pm2_app_name"

            android:theme="@style/pm2_AppTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.DevelopingAndroidApps.PopularMovies_V2.pm2_DetailsActivity"
            android:icon="@drawable/ic_movie_white_24dp"
            android:label="Movie Details"
            android:parentActivityName=".Courses.DevelopingAndroidApps.PopularMovies_V2.pm2_MainActivity"
            android:theme="@style/pm2_AppTheme"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />

        <provider
            android:name=".Courses.DevelopingAndroidApps.PopularMovies_V2.data.pm2_Provider"
            android:authorities="unitedapps.com.googleandroidcourses.pm2"
            tools:ignore="ExportedContentProvider,InnerclassSeparator" />

        <service
            android:name=".Courses.DevelopingAndroidApps.PopularMovies_V2.sync.pm2_Service"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/pm2_authenticator" />
        </service>


        <service
            android:name=".Courses.DevelopingAndroidApps.PopularMovies_V2.sync.pm2_SyncService"
            android:exported="true"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pm2_syncadapter" />
        </service>

        <activity
            android:name=".Courses.AppsLifecycle.ActivityLifecycle"
            android:theme="@style/adb_hbc_appTheme"
            android:label="Android LifeCycle"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.GoogleLocationService.Location1"
            android:label="@string/gls_l1_app_name"
            android:theme="@style/adb_hbc_appTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.GoogleLocationService.Location2_1"
            android:theme="@style/adb_hbc_appTheme"
            android:label="@string/gls_l2_1_app_name"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courses.GoogleLocationService.ActivityRecognition.ar_ActivityMain"
            android:theme="@style/adb_hbc_appTheme"
            android:label="@string/gls_ar_app_name"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".Courses.GoogleLocationService.ActivityRecognition.ar_DetectedActivitiesIntentService"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Courses.GoogleLocationService.Geofencing.gf_ActivityMain"
            android:theme="@style/adb_hbc_appTheme"
            android:label="@string/gls_gf_app_name"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".Courses.GoogleLocationService.Geofencing.gf_GeofenceTransitionsIntentService"
            tools:ignore="InnerclassSeparator" />

    </application>
</manifest>